<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_sexta"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_sexta_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SIB"
        tools:targetApi="31">
        <activity
            android:name=".GaleriaBrig"
            android:exported="false" />
        <activity
            android:name=".EscudoBrig"
            android:exported="false" />
        <activity
            android:name=".HistoriaBrig"
            android:exported="false" />
        <activity
            android:name=".HimnoBrig"
            android:exported="false" />
        <activity
            android:name=".Principal"
            android:exported="false"
            android:label="@string/title_activity_principal"
            android:theme="@style/Theme.SIB.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.myapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>